.DS_Store
*~
*.pyc
**/*.pyc
*.db
*.sqlite
*.sql
*.sql.gz
__pycache__/*
**/__pycache__/*

.idea
*.iml

htmlcov
.coverage
coverage.xml
coverage.coverage

db.sqlite3

.cache
logserror_log.txt
logsinfo_log.txt
logs
.vagrant/
logs/*
logs/

tmp/

node_modules/
