.DS_Store
*~
*.pyc
*.db
*.sqlite
*.sql
*.sql.gz
__pycache__/

.idea
*.iml

htmlcov
.coverage
coverage.xml
coverage.coverage

.cache
logserror_log.txt
logsinfo_log.txt
logs
.vagrant/
logs/*
logs/

tmp/

node_modules/
